---
layout: default
---

<article class="page">
  <h1 class="serif fade-up">{{ page.title }}</h1>
  <div class="page-body fade-up" style="--d:90ms">
    {{ content }}
    {%- if site.author.email != "" or site.author.instagram != "" -%}
    <dl class="project-details contact-list">
      {%- if site.author.email != "" -%}
      <div><dt class="label">Email</dt><dd><a class="textlink" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></dd></div>
      {%- endif -%}
      {%- if site.author.instagram != "" -%}
      <div><dt class="label">Instagram</dt><dd><a class="textlink" href="https://www.instagram.com/{{ site.author.instagram }}" rel="noopener">@{{ site.author.instagram }}</a></dd></div>
      {%- endif -%}
    </dl>
    {%- endif -%}
  </div>
</article>
